<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <!-- College -->
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2019</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Technology</div>
                                <h4 class="category">Techno Engineering College Banipur</h4>
                                <ul>
                                    <li> Techno Engineering College Banipur <b>First Class First</b> in WestBengal </li>
                                        <li>Completed B.Tech in Computer Science Engineering with <b>7.22 CGPA</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- hs -->
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2015</p>
                        <div class="h5">West Bengal Council Of Higher Secondary Education (WBCHSE)</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Higher Secondary Education </div>
                                <h4 class="category">Banamalipur Priyanath Institution</h4>
                                <ul>
                                        <li>Completed <b>Hs</b> in <b>WBCHSE board</b> with <b>57.4% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sc -->
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2012-2013</p>
                        <div class="h5">West Bengal Board of Secondary Education(WBBSE)</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Secondary Education</div>
                                <h4 class="category">Barasat Mahatma Gandhi Memorial High School</h4>
                                <ul>
                                        <li>Completed  Secondary Education with <b>67.7% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               