<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
  
      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://linkedin.com/in/avik-mallick-1751b51b9"
        role="button"
        target="_blank" 
        rel="tooltip" 
        title="Follow me on Linkedin"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/avik1997"
        role="button"
        target="_blank"
        rel="tooltip" 
        title="Follow me on Github"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">Avik Mallick</a>
  </div>
  <!-- Copyright -->
</footer>