<!-- Background image -->
<div
class="p-5 text-center bg-image"
style="
  background-image: url('https://media.bitdegree.org/storage/media/images/2018/08/what-is-a-web-developer.jpg');
  height: 400px;
"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Avik Mallick</h1>
      <h4 class="mb-3">FullStack Developer</h4>
      <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><br><br>
      <a class="btn btn-primary"href="https://drive.google.com/file/d/1s9yYOtMlQ5h56KMs3_iB05KvqEoQMukp/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
    </div>
  </div>
</div>
</div>
<!-- Background image -->